<div [title]="'&lt;' + data.label + '&gt;' | lowercase">
    <!--span class="icon">
        <evt-icon [iconInfo]="iconData[data.label] || defaultIcon"></evt-icon>
    </span-->
    <span class="text">
        <!--  contenitore Angular ng-container che itera su un array data.content con una direttiva *ngFor. 
            Per ogni elemento dell'array, viene creato un elenco non ordinato (ul) con la classe attributes-list che contiene un elemento li -->
        <ng-container *ngFor="let element of data.content">
            <ul class="attributes-list">
            <!-- La classe label viene aggiunta a questo elemento li, se data.label è presente. -->
            <span class="label" *ngIf="data.label==='form'">
                <!-- viene iterato l'oggetto attributes dell'elemento corrente dell'array con la direttiva *ngFor --> 
                <span *ngFor="let item of element.attributes | keyvalue">
                    <li class="label" *ngIf="item.value==='lemma'">{{'lemma' | translate}}</li>
                    <li class="label" *ngIf="item.value==='variants'">{{'variants' | translate}}</li>
                    <li class="label" *ngIf="item.value==='inflected'">{{'inflected' | translate}}</li>
                </span>
            </span>
            <li class="label" *ngIf="data.label==='gramgrp'"> {{'gramGrp' | translate}} </li> 
            <li class="label" *ngIf="data.label==='etym'"> {{'etym' | translate}}
                <!-- viene iterato l'oggetto attributes dell'elemento corrente dell'array con la direttiva *ngFor --> 
                <span *ngFor="let item of element.attributes | keyvalue">{{ item.value }}
                </span>
            </li>
            <li class="label" *ngIf="data.label==='sense'"> {{'sense' | translate}} </li>
            <li class="label" *ngIf="data.label==='cit'"> {{'cit' | translate}} </li>
            <li class="label" *ngIf="data.label==='note'">
                <span *ngFor="let item of element.attributes | keyvalue">
                    <span class="label" *ngIf="data.label==='note' && item.value==='biblio'">{{'biblio' | translate}}</span>
                    <span class="label" *ngIf="data.label==='note' && item.value==='comment'">{{'comment' | translate}}</span>
                    <span class="label" *ngIf="data.label==='note' && item.value!=='comment' && item.value!=='biblio'">{{ item.value }}</span> 
                </span>
            </li>
            <li class="label" *ngIf="data.label!=='form' && data.label!=='gramgrp' && data.label!=='etym' && data.label!=='sense' && data.label!=='cit' && data.label!=='note'">
                {{ data.label }}
                <span *ngFor="let item of element.attributes | keyvalue">
                    <span class="label"> {{ item.value }} </span>
                </span>
            </li>      
            <evt-content-viewer [content]="element"></evt-content-viewer>           
            </ul>    
        </ng-container>
    </span>
</div>